In [152]:
import selenium
from selenium import webdriver
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [153]:
driver = webdriver.Chrome(r"C:/Users/20130367/Desktop/DT/chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [36]:
driver.get('https://www.naukri.com/')

In [37]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [38]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [39]:
job_title = []
job_loc = []
comp_name = []
exp = []

In [40]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="8cfd93ec-759f-4463-89ab-6747c0cd8518")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="07cab24d-c0ce-47df-842d-b65a1db46c75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="8498e449-f131-4156-abfa-57a1e9eb2916")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="9f838ab4-3221-49ec-babf-4cbbd245a67f")>]

In [41]:
for i in title_tags:
    title=i.text
    job_title.append(title)
    
job_title

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst III',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Customer Data Management Analyst',
 'Data Analyst',
 'Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Openings For SQL Data Analyst',
 'Data Analyst (On Contract)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst / Engineer',
 'Senior Data Analyst',
 'Senior Data Analyst for HANA Platform',
 'Lead - Data Analyst - Leading US MNC',
 'Jr. Data Analyst/ Jr. Data Scientist',
 'Data Analyst',
 'Supervisor Role, Data Analyst, six sigma, Analytical skills, Database']

In [42]:
loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="cddf0be3-b892-4e4f-a16d-d6d0d2f3df4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="dd9f85e2-2662-4fd7-b020-88961065b58c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="e6ef3340-3918-4d9c-94bc-8a20a03a05ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="06cb4740-6928-4619-ab68-7db6e651a09d")>]

In [43]:
for i in loc_tags:
    loc = i.text
    job_loc.append(loc)
    
job_loc

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, bangalore',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [44]:
comp_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="986654f3-81ce-4f9f-a2eb-ede7db5c2cac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="770081b5-5c62-453d-bdc8-cdb0e9f55e56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="4975be3d-1624-443e-ad71-52bc302ffe97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="94c54419-b1e1-46c4-8340-9ec6983b3091")>]

In [45]:
for i in comp_tags:
    comp = i.text
    comp_name.append(comp)
    
comp_name

['Flipkart',
 'Flipkart',
 'Genpact',
 'Aspect',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Maruti Suzuki India',
 'Rapido',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Flipkart',
 'StackNexus Technologies India Pvt. Ltd',
 'Rupeek Fintech Pvt Ltd',
 'Schneider Electric',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Animaker India Private Limited',
 'Flipkart',
 'Intel',
 'EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED',
 'Sejal Consulting Hub',
 'NetraDyne Technology India Private Limited',
 'Concentrix Daksh Services']

In [46]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="a080f455-1d73-4512-a32f-cf1912069706")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="7d2cd084-9a4c-4c18-a626-7ec90617074c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="207d6be2-3fcb-4d97-a1bd-a98876015f63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a9ca6ea0781482b98fd2dbbb295b5a7", element="66aeb6fb-88d9-4412-86a7-27b9637f3450")>]

In [47]:
for i in exp_tags:
    exp.append(i.text)
    
exp

['1-6 Yrs',
 '2-4 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-6 Yrs',
 '5-10 Yrs',
 '4-5 Yrs',
 '3-6 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '0-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs']

In [49]:
naukri_df = pd.DataFrame({'Job Title':job_title,'Company Name':comp_name,'Location':job_loc,'Experience':exp})
naukri_df[0:10]

,Job Title,Company Name,Location,Experience
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,Bangalore/Bengaluru,1-6 Yrs
1,Senior Data Analyst III,Flipkart,Bengaluru/Bangalore,2-4 Yrs
2,Business Analyst/ Data Analyst- Capital Market...,Genpact,"Pune, Bangalore/Bengaluru",7-12 Yrs
3,Customer Data Management Analyst,Aspect,Bangalore/Bengaluru,0-2 Yrs
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,3-8 Yrs
5,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,"Gurgaon/Gurugram, bangalore",3-5 Yrs
6,Senior Data Analyst,Rapido,Bangalore/Bengaluru,1-6 Yrs
7,Senior Data Analyst,SYREN TECHNOLOGIES PRIVATE LIMITED,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",5-10 Yrs
8,Senior Data Analyst,Flipkart,Bengaluru/Bangalore,4-5 Yrs
9,Openings For SQL Data Analyst,StackNexus Technologies India Pvt. Ltd,"Hyderabad/Secunderabad, Bangalore/Bengaluru",3-6 Yrs

# Q.2 - Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [51]:
driver.get('https://www.naukri.com/')

In [52]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [53]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [54]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="6cd78651-8cf5-421f-8af1-5553b3e034c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="0e78a3f4-7c7c-4053-b7ec-49a6632bd65c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="8f702449-c609-48c5-a77e-aab1e06da05d")>]

In [55]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
job_title

['Lead / Principal Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Credit Risk',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist 2',
 'Machine Learning AI Data Scientist',
 'Sr. Associate Consultant Data Scientist',
 'Senior Engineer - AIML - Data Scientist',
 'Data Scientist /Senior Data Science Executive',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Cognitive Data Scientist',
 'Deputy Manager - Data Scientist',
 'Tcs Hiring For Azure ML Data Scientist',
 'Hiring For "Data Scientist" For leading Big 4 Consulting firm',
 'Jr. Data Analyst/ Jr. Data Scientist',
 'Data Scientist - Marketing Analysis | Hudsons Bay Company-SAKS',
 'Data Science - Senior Data Scientist']

In [56]:
loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="ed4068e7-d02c-4865-a974-1b41b4e1ba6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="ac8e5c82-4cf1-40f8-9940-e54b7f0c03a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="19fcec8e-7db1-4f25-95ed-7d2ac3fc719b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="99e9bed1-d63c-4864-9d10-0bfcaf57cbb9")>]

In [57]:
job_loc = []

for i in loc_tags:
    job_loc.append(i.text)
    
job_loc

['Mumbai, Hyderabad/Secunderabad, Pune, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru']

In [58]:
comp_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="b13c8603-68e5-49d3-bc72-899f36bd128c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="f624c9fa-4399-4083-b9c8-1a299bd78b12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="fbbb6dd4-36ce-401f-b943-0e9a193b2e34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94358da600fd90dd324a3b23908eb593", element="a51878c1-54fa-42a5-a4d6-b2ee2252f80e")>]

In [59]:
comp_name = []

for i in comp_tags:
    comp_name.append(i.text)
    
comp_name

['Aviso Inc',
 'Snaphunt',
 'Ally-Executive',
 'Visa',
 'Scienaptic Systems',
 'Samya.AI A FRACTAL Entity',
 'ANI Technologies Pvt. Ltd.',
 'EKO Infomatics Solutions Private Limited',
 'Eli Lilly and Company',
 'Unisys',
 'Sejal Consulting Hub',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'HDFC LIFE INSURANCE COMPANY LIMITED',
 'Tata Consultancy Services Ltd.',
 'LIVE CONNECTIONS PLACEMENTS PRIVATE LIMITED',
 'Sejal Consulting Hub',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Paytm']

In [61]:
naukri_b = pd.DataFrame({"Job Title":job_title,"Company Name":comp_name,"Location":job_loc})
naukri_b[0:10]

,Job Title,Company Name,Location
0,Lead / Principal Data Scientist,Aviso Inc,"Mumbai, Hyderabad/Secunderabad, Pune, Delhi / ..."
1,Data Scientist,Snaphunt,Bangalore/Bengaluru
2,Senior Data Scientist,Ally-Executive,Bangalore/Bengaluru
3,Senior Data Scientist,Visa,Bangalore/Bengaluru
4,Data Scientist - Credit Risk,Scienaptic Systems,Bangalore/Bengaluru
5,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Bangalore/Bengaluru
6,Data Scientist 2,ANI Technologies Pvt. Ltd.,Bangalore/Bengaluru
7,Machine Learning AI Data Scientist,EKO Infomatics Solutions Private Limited,Bangalore/Bengaluru
8,Sr. Associate Consultant Data Scientist,Eli Lilly and Company,Bangalore/Bengaluru
9,Senior Engineer - AIML - Data Scientist,Unisys,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on thewebpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is 

“Delhi/NCR”The salary filter to be used is “3-6” lakhs

In [63]:
driver.get('https://www.naukri.com/')

In [64]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Delhi/NCR')

In [65]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [67]:
filter_loc = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i")
filter_loc.click()

In [70]:
filter_sal = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
filter_sal.click()

In [71]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="ab7446b9-0eac-4ceb-86c0-0b41ecc05d38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="9aa1b2a5-150b-4585-89ec-87625acf1694")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="ab5445b8-af70-4b9a-ac6c-afaf374d190e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="4d2c2216-75da-45ac-9de5-9021e64fa87b")>]

In [72]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
job_title

['Data Scientist',
 'Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Hiring For Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [73]:
com_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="de532cb6-dbc8-42ca-84a1-0141a8fb1817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="4f5a6eb1-52fe-404b-8401-324395811cfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="cc3982cc-0327-4133-a6b1-6948048e4dea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="bbdc6351-3d9c-43bd-bb17-686afedd95a7")>]

In [74]:
comp_name = []

for i in com_tags:
    comp_name.append(i.text)
    
comp_name

['LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Newgen Software Technologies',
 'Tata Consultancy Services Ltd.',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'iNICU',
 'The Boston Consulting Group (India) Pvt Limited',
 'NTT Data Business Solutions Pvt Ltd',
 'BlackBuck',
 'Country Veggie',
 'Sentieo',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Right Step Consulting',
 'Blow Trumpet Solutions',
 'GABA Consultancy services',
 'ApplyBoard',
 'AVE-Promagne',
 'MoMagic Technologies']

In [75]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="ea76f034-74be-47c3-9f5f-712b64a4aa50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="e27f68ad-8c8d-4780-a413-84883a18206b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="56af6e17-c2cd-4d3f-b06f-2b8695348691")>]

In [76]:
exp = []

for i in exp_tags:
    exp.append(i.text)
    
exp

['0-2 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '1-6 Yrs',
 '4-6 Yrs']

In [77]:
loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="fa2cc088-94a0-425e-8f66-009d66191619")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="248dc6fc-e305-4ece-96f7-820c3743a689")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="83d752e2-bbbe-45fd-b38c-7a389929e2b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6650f110314e29c9ab1142ec8cc0d0d", element="d12aeded-6712-4305-bb11-ffdf40168ca5")>]

In [78]:
job_loc = []

for i in loc_tags:
    job_loc.append(i.text)
    
job_loc

['Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Nodia',
 'Noida',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Remote',
 'Gurgaon/Gurugram, Chennai',
 'Delhi',
 'New Delhi',
 'Noida, Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Delhi',
 'Delhi',
 'Delhi',
 'Noida',
 'Delhi',
 'Noida, Ghaziabad, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Mumbai, Hyderabad/Secunderabad, Pune, Lucknow, Chennai, Delhi / NCR, Kerela, Goa',
 'Noida(Sector-126 Noida)']

In [79]:
naukri_filter_df = pd.DataFrame({"Job Title":job_title,"Company Name":comp_name,"Location":job_loc,"Experience":exp})
naukri_filter_df[0:10]

,Job Title,Company Name,Location,Experience
0,Data Scientist,LG Electronics India Pvt. Ltd.,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",0-2 Yrs
1,Data Scientist,Navikenz India Pvt Ltd,"Noida, Nodia",2-7 Yrs
2,Data Scientist/ Senior Data Scientist,Newgen Software Technologies,Noida,2-5 Yrs
3,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",4-9 Yrs
4,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,Remote,1-5 Yrs
5,Data Scientist,Teleperformance,"Gurgaon/Gurugram, Chennai",4-9 Yrs
6,Senior Data Scientist,iNICU,Delhi,1-5 Yrs
7,Data Scientist,The Boston Consulting Group (India) Pvt Limited,New Delhi,2-5 Yrs
8,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...",NTT Data Business Solutions Pvt Ltd,"Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",3-8 Yrs
9,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs

In [80]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have toscrape four attributes: 
# 1. Brand
# 2. Product Description
# 3. Price

In [82]:
driver.get("https://www.flipkart.com/")

In [83]:
fk_search = driver.find_element_by_xpath("//input[@class='_3704LK']")
fk_search.send_keys("sunglasses")

In [85]:
fk_search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
fk_search_btn.click()

In [86]:
brand_name = []

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand_name.append(i.text)
    
brand_name

['LIZA ANGEL',
 'ROYAL SON',
 'SRPM',
 'Elligator',
 'New Specs',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'kingsunglasses',
 'VINCENT CHASE',
 'SUNBEE',
 'New Specs',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PIRASO',
 'VINCENT CHASE',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'AISLIN',
 'Singco India',
 'PIRASO',
 'Rich Club',
 'ROYAL SON',
 'hipe',
 'agera',
 'Rich Club',
 'VINCENT CHASE']

In [88]:
prod_des = []

for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    prod_des.append(i.text)
    
prod_des

['Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (58)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...']

In [89]:
prod_des

['Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (58)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...']

In [90]:
price = []

for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
    
price

['₹238',
 '₹759',
 '₹188',
 '₹248',
 '₹259',
 '₹200',
 '₹187',
 '₹664',
 '₹699',
 '₹274',
 '₹189',
 '₹426',
 '₹170',
 '₹179',
 '₹383',
 '₹664',
 '₹474',
 '₹359',
 '₹187',
 '₹999',
 '₹271',
 '₹259',
 '₹449',
 '₹999',
 '₹426',
 '₹319',
 '₹187',
 '₹1,415',
 '₹187',
 '₹181',
 '₹299',
 '₹446',
 '₹194',
 '₹299',
 '₹175',
 '₹664',
 '₹287',
 '₹196',
 '₹163',
 '₹999']

In [91]:
fk_next = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
fk_next.click()

In [92]:
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand_name.append(i.text)
    
brand_name

['LIZA ANGEL',
 'ROYAL SON',
 'SRPM',
 'Elligator',
 'New Specs',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'kingsunglasses',
 'VINCENT CHASE',
 'SUNBEE',
 'New Specs',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PIRASO',
 'VINCENT CHASE',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'AISLIN',
 'Singco India',
 'PIRASO',
 'Rich Club',
 'ROYAL SON',
 'hipe',
 'agera',
 'Rich Club',
 'VINCENT CHASE',
 'Rich Club',
 'hipe',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'kingsunglasses',
 'Singco India',
 'PIRASO',
 'AISLIN',
 'PIRASO',
 'Lee Topper',
 'ROYAL SON',
 'AISLIN',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'PHENOMENAL',
 'Rich Club',
 'ROYAL SON',
 'kingsunglasses',
 'ROYAL SON',
 'Elligator',
 'VILLAIN',
 'SUNBEE',
 'kingsunglasses',
 'PHENOMENAL',
 'ROYAL SON',
 'PHENOMENAL',
 'kingsunglasses',
 'Fastrack',
 'AISLIN',
 'PIRASO',
 'DEIXELS',
 'PIRASO',
 'VINCENT CHASE',
 'Rich Club',
 'Elligator',
 'ROYAL SON',
 'Sewell']

In [93]:
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    prod_des.append(i.text)
    
prod_des

['Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (58)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'Polarized Round Sunglasses (48)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Butterfly Sunglasses (65)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Round Sunglasses (55)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection, Gradient Round Sunglasses (56...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)']

In [94]:
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
    
price

['₹238',
 '₹759',
 '₹188',
 '₹248',
 '₹259',
 '₹200',
 '₹187',
 '₹664',
 '₹699',
 '₹274',
 '₹189',
 '₹426',
 '₹170',
 '₹179',
 '₹383',
 '₹664',
 '₹474',
 '₹359',
 '₹187',
 '₹999',
 '₹271',
 '₹259',
 '₹449',
 '₹999',
 '₹426',
 '₹319',
 '₹187',
 '₹1,415',
 '₹187',
 '₹181',
 '₹299',
 '₹446',
 '₹194',
 '₹299',
 '₹175',
 '₹664',
 '₹287',
 '₹196',
 '₹163',
 '₹999',
 '₹163',
 '₹287',
 '₹349',
 '₹999',
 '₹259',
 '₹229',
 '₹164',
 '₹698',
 '₹359',
 '₹276',
 '₹359',
 '₹446',
 '₹258',
 '₹360',
 '₹664',
 '₹711',
 '₹261',
 '₹287',
 '₹383',
 '₹664',
 '₹192',
 '₹359',
 '₹239',
 '₹522',
 '₹276',
 '₹211',
 '₹209',
 '₹664',
 '₹287',
 '₹211',
 '₹649',
 '₹1,051',
 '₹187',
 '₹202',
 '₹299',
 '₹999',
 '₹284',
 '₹318',
 '₹359',
 '₹320']

In [95]:
fk_next = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
fk_next.click()

In [96]:
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
    
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    prod_des.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand_name.append(i.text)

In [97]:
price = price[0:100]
price

['₹238',
 '₹759',
 '₹188',
 '₹248',
 '₹259',
 '₹200',
 '₹187',
 '₹664',
 '₹699',
 '₹274',
 '₹189',
 '₹426',
 '₹170',
 '₹179',
 '₹383',
 '₹664',
 '₹474',
 '₹359',
 '₹187',
 '₹999',
 '₹271',
 '₹259',
 '₹449',
 '₹999',
 '₹426',
 '₹319',
 '₹187',
 '₹1,415',
 '₹187',
 '₹181',
 '₹299',
 '₹446',
 '₹194',
 '₹299',
 '₹175',
 '₹664',
 '₹287',
 '₹196',
 '₹163',
 '₹999',
 '₹163',
 '₹287',
 '₹349',
 '₹999',
 '₹259',
 '₹229',
 '₹164',
 '₹698',
 '₹359',
 '₹276',
 '₹359',
 '₹446',
 '₹258',
 '₹360',
 '₹664',
 '₹711',
 '₹261',
 '₹287',
 '₹383',
 '₹664',
 '₹192',
 '₹359',
 '₹239',
 '₹522',
 '₹276',
 '₹211',
 '₹209',
 '₹664',
 '₹287',
 '₹211',
 '₹649',
 '₹1,051',
 '₹187',
 '₹202',
 '₹299',
 '₹999',
 '₹284',
 '₹318',
 '₹359',
 '₹320',
 '₹238',
 '₹1,415',
 '₹188',
 '₹248',
 '₹200',
 '₹259',
 '₹699',
 '₹759',
 '₹187',
 '₹274',
 '₹189',
 '₹664',
 '₹170',
 '₹179',
 '₹383',
 '₹426',
 '₹474',
 '₹187',
 '₹359',
 '₹664']

In [99]:
brand_name = brand_name[0:100]
prod_des = prod_des[0:100]

In [100]:
sunglasses = pd.DataFrame({'Brand':brand_name, 'Product Description':prod_des, 'Price': price})
sunglasses

             Brand                                Product Description Price
0       LIZA ANGEL     Polarized, UV Protection Round Sunglasses (52)  ₹238
1        ROYAL SON             UV Protection Wayfarer Sunglasses (56)  ₹759
2             SRPM                UV Protection Round Sunglasses (54)  ₹188
3        Elligator   UV Protection Rectangular Sunglasses (Free Size)  ₹248
4        New Specs              UV Protection Aviator Sunglasses (54)  ₹259
..             ...                                                ...   ...
95  ROZZETTA CRAFT  UV Protection, Riding Glasses, Mirrored Wayfar...  ₹426
96  ROZZETTA CRAFT                   Mirrored Aviator Sunglasses (55)  ₹474
97  kingsunglasses  UV Protection, Gradient Butterfly Sunglasses (60)  ₹187
98       ROYAL SON  UV Protection, Polarized, Mirrored Round Sungl...  ₹359
99       ROYAL SON  UV Protection Retro Square Sunglasses (Free Size)  ₹664

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
# https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.

In [102]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace')

In [103]:
all_rev = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_rev.click()

In [104]:
rating = []
rev_sum = []
rev_full = []

In [105]:
page = 1

while(page<12) :
    URL = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=" + str(page)
    driver.get(URL)
    
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(i.text)
        
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        rev_sum.append(i.text)
        
    for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        rev_full.append(i.text.replace('\n',''))
    
    page+=1

In [106]:
rating = rating[0:100]

In [107]:
rev_sum = rev_sum[0:100]

In [108]:
rev_full = rev_full[0:100]

In [109]:
review_df = pd.DataFrame({"Rating":rating, "Review Summary": rev_sum, "Full Review": rev_full})

In [110]:
review_df

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
96,3,Awesome,The phone is completely goodAs far as camera A...
97,5,Decent product,Everything u ll like it when u use this iPhone...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,5,Does the job,phone is good but in display is 720p lcd in th...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
# You have to scrape 4 attributes of each sneaker:
# 1. Brand
# 2. Product Description
# 3. Price
# 4. Discount %

In [111]:
driver.get("https://www.flipkart.com/")

In [112]:
search_bar = driver.find_element_by_xpath("//input[@class = '_3704LK']")
search_bar.send_keys("sneakers")

In [113]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [114]:
brand = []
prod_desc = []
price = []
disc = []

In [115]:
nos = 1

page = 1

while (nos<101):
    url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver.get(url)
    
    for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(i.text)
    
    for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']"):
        prod_desc.append(i.text)
        
    for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        prod_desc.append(i.text)
        
    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(i.text)
        
    for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        disc.append(i.text)
        
    page+=1
    nos = len(brand)

In [116]:
print(len(brand))
print(len(prod_desc))
print(len(price))
print(len(disc))

120
120
120
120

In [117]:
brand = brand[0:100]
prod_desc = prod_desc[0:100]
price = price[0:100]
disc = disc[0:100]

In [118]:
sneakers_df = pd.DataFrame({"Brand":brand, "Product Description":prod_desc, "Price":price, "Discount":disc})
sneakers_df

                      Brand               Product Description   Price Discount
0                      PUMA         Sneakers Sneakers For Men  ₹1,749  50% off
1                LEE COOPER                  Sneakers For Men  ₹1,374  45% off
2                  URBANBOX                  Sneakers For Men    ₹247  75% off
3                    BRUTON                  Sneakers For Men    ₹299  76% off
4                     BIRDE  STYLISH-WHITE-9 Sneakers For Men    ₹299  40% off
..                      ...                               ...     ...      ...
95               LEE COOPER     Sports Shoes Sneakers For Men  ₹1,374  45% off
96                    BIRDE                  Sneakers For Men    ₹399  60% off
97                    Xtoon                  Sneakers For Men    ₹499  66% off
98  Bond Street By Red Tape                  Sneakers For Men    ₹897  76% off
99                     PUMA                  Sneakers For Men  ₹3,199  60% off

[100 rows x 4 columns]

# Q7: Go to the link - https://www.myntra.com/shoes
# Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown inthe below image.
# And then scrape First 100 shoes data you get. The data should include “Brand” ofthe shoes , Short Shoe description, price of the shoe as shown in the below image.

In [119]:
driver.get("https://www.myntra.com/shoes")

In [120]:
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [121]:
colour_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
colour_filter.click()

In [122]:
brand = []
desc = []
price = []

In [123]:
page = 1
nos = 1

while(nos<101):
    url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0&p=" + str(page)
    driver.get(url)
    
    for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand.append(i.text)
        
    for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        desc.append(i.text)
        
    for i in driver.find_elements_by_xpath("//div[@class='product-price']/span[1]"):
        price.append(i.text)
        
    page+=1
    nos = len(brand)

In [124]:
brand = brand[0:100]
desc = desc[0:100]
price = price[0:100]

In [125]:
shoes_df = pd.DataFrame({"Brand":brand, "Product Description":desc, "Price":price})
shoes_df

        Brand                  Product Description               Price
0       ASICS              Men GEL-KAYANO 27 Shoes  Rs. 10499Rs. 14999
1        Puma       Men Deviate Nitro Running Shoe   Rs. 8249Rs. 14999
2        Puma                    Men Running Shoes   Rs. 6499Rs. 12999
3        Nike           Men Waffle One SE Sneakers            Rs. 8295
4        Puma            Men Magnify Nitro Running   Rs. 7799Rs. 12999
..        ...                                  ...                 ...
95   DAVINCHI                  Solid Slip On Shoes            Rs. 7990
96   DAVINCHI          Men Formal Leather Slip-Ons            Rs. 8990
97     Clarks           Men Leather Mid-Top Derbys            Rs. 8999
98  J.FONTINI  Men Textured Leather Formal Loafers            Rs. 8990
99   DAVINCHI      Men Solid Leather Formal Derbys            Rs. 8990

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [171]:
driver.get("https://www.amazon.in/")

In [172]:
search_laptop = driver.find_element_by_id('twotabsearchtextbox')
search_laptop.send_keys('Laptop')

In [173]:
search_btn = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

In [174]:
CPUi5_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[3]/li[11]/span/a/div/label/i")
CPUi5_filter.click()

In [196]:
title = []
ratings = []
price = []

In [197]:
title_tags = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f27861738a68d86738c28afec4b6c448", element="8be11b42-c6bc-42d4-88d7-5f3fd52f2c8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f27861738a68d86738c28afec4b6c448", element="0ccbfc29-a088-42be-8258-fbcab7e2f4e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f27861738a68d86738c28afec4b6c448", element="abc8be32-90af-4d1c-926d-6a1700c341aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f27861738a68d86738c28afec4b6c448", element="cce7f683-7e09-46b1-8573-9031def73d3d")>]

In [185]:
title = title[0:10]
ratings = ratings[0:10]
price = price[0:10]

In [186]:
len(title)

10

In [188]:
len(price)

10